Repository itsjohncs/pre-commit-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettify-nextjs, lint-nextjs

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.5
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.373
  hooks:
  - id: pyright
- repo: https://github.com/itsjohncs/rye-pre-commit
  rev: v0.2.0
  hooks:
  - id: rye-test
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: file-contents-sorter
    files: 'repositories.yaml$'
- repo: local
  hooks:
  - id: prettify-nextjs
    name: prettify-nextjs
    language: system
    entry: npm --prefix ./website run prettify --
    files: "^website/.*$"
    # Prettify can't handle filenames that aren't relative to the root of the
    # `package.json` file. I could script a solution, but since it's so fast
    # to prettify all the files every time for such a small project, I'll just
    # do that.
    pass_filenames: false
  - id: lint-nextjs
    name: lint-nextjs
    language: system
    entry: npm --prefix ./website run lint -- --file
    types_or: [ ts, tsx ]

Update header with new content.
  website/package-lock.json
  website/package.json
  website/public/vercel.svg
  website/src/app/page.tsx
Due: prettify-nextjs, lint-nextjs

Add search bar. Clean up responsive breakpoints.
  website/public/next.svg
  website/src/app/page.tsx
Due: prettify-nextjs, lint-nextjs

Create a "add repo" page.
  website/package-lock.json
  website/package.json
  website/src/app/browse/RepoSearch.tsx
  website/src/app/browse/page.tsx
Due: prettify-nextjs, lint-nextjs

Add a couple JS repos.
  src/pre_commit_hub/repositories.yaml
Due: none

Set up Prisma.
  .gitignore
  website/.env
  website/package-lock.json
  website/package.json
  website/prisma/schema.prisma
Due: prettify-nextjs

Add endpoint for adding repos.
  website/package-lock.json
  website/package.json
  website/prisma/schema.prisma
  website/src/app/api/repo/route.ts
  website/src/prisma.ts
Due: prettify-nextjs, lint-nextjs

Return 409 if repo already exists.
  website/src/app/api/repo/route.ts
Due: prettify-nextjs, lint-nextjs

Return 404 if repo doesn't exist on GitHub.
  website/src/app/api/repo/route.ts
Due: prettify-nextjs, lint-nextjs
